<div id="performance" class="module generic" data-module="performance">

	<div class="module_settings"><span>Settings</span></div>
	<div class="module_remove"><span>Remove</span></div>

	<h2>Performance</h2>

	<div class="inner">
		<ul>
			<li>
				<div class="clearfix">
					<div class="name">Physical Memory:</div>
					<table class="stat_right">
						<tr>
							<td></td>
							<td>USED</td>
							<td>FREE</td>
							<td>TOTAL</td>
						</tr>
						<tr>
							<td>(Physical)</td>
							<td>{{ result.usedPhyMemory }}</td>
							<td>{{ result.availPhyMemory }}</td>
							<td>{{ result.totalPhyMemory }}</td>
						</tr>
						<tr>
							<td>(Swap)</td>
							<td>{{ result.usedSwapMemory }}</td>
							<td>{{ result.availSwapMemory }}</td>
							<td>{{ result.totalSwapMemory }}</td>
						</tr>
					</table>
				</div>
			</li>
			{% if settings.show_network_utilization == '1' %}
			<li>
				<div class="clearfix">
					<div class="name">Network IO Status:</div>
					<table class="stat_right">
						<tr>
							<td>Packets Sent:</td>
							<td>{{ result.packetSent }}</td>
							<td>Packets Recv:</td>
							<td>{{ result.packetRecv }}</td>
						</tr>
						<tr>
							<td>Data Recv:</td>
							<td>{{ result.bytesRecv }}</td>
							<td>Data Recv Rate:</td>
							<td>{{ result.bytesRecvRate }} / s</td>
						</tr>
						<tr>
							<td>Data Sent:</td>
							<td>{{ result.bytesSent }}</td>
							<td>Data Sent Rate:</td>
							<td>{{ result.bytesSentRate }} / s</td>
						</tr>
						<tr>
							<td>Err In:</td>
							<td>{{ result.errin }}</td>
							<td>Err Out:</td>
							<td>{{ result.errout }}</td>
						</tr>
					</table>
				</div>
			</li>
			{% endif %}
			{% if settings.show_cpu_utilization == '1' %}
			<li>
				<div class="clearfix">
					<div class="name">CPU Utilization:</div>
					<table class="stat_right">
						<tr>
							{% for cpuPerc in result.cpuPercent %}
							{% if cpuPerc.index <= 3 %}
							<td> CPU #{{ cpuPerc.index }}: {{ cpuPerc.CPUpercentage }}% </td>
							{% endif %}
							{% endfor %}
						</tr>
						{% if result.totalCPUCol >= 5 %}
						<tr>
							{% for cpuPerc in result.cpuPercent %}
							{% if cpuPerc.index >= 4 %}
							<td> CPU #{{ cpuPerc.index }}: {{ cpuPerc.CPUpercentage }}% </td>
							{% endif %}
							{% endfor %}
						</tr>
						{% endif %}
					</table>
					<table class="stat_right">				
						<tr>
							<td colspan="2">CPU Usage:</td>
							<td>{{ result.cpuOverall }}%</td>
						</tr>
						<tr>
							<td>User: {{ result.cpuTimes.user }}%</td>
							<td>System: {{ result.cpuTimes.system }}%</td>
							<td>Idle: {{ result.cpuTimes.idle }}%</td>
						</tr>
					</table>
				</div>
			</li>
			{% endif %}
			{% if settings.show_process_utilization == '1' %}
			<li>
				<div class="clearfix">
					<div class="name">Process Utilization:</div>
					<table class="stat_left">
						{% for process in result.processPerformance %}
						<tr>
							<td>PID: {{ process.pid }}</td>
							<td>{{ process.name }}</td>
							<td>CPU: {{ process.cpu_percent }}%</td>
							<td>Mem: {{ process.memory_percent }}%</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
</div>