<div class="details well span10">
  {% if item.moviedetails %}
    {% set movie = item.moviedetails %}

    <div class="row-fluid top_buttons">
      <button class="btn tmdb_info_btn" data-id="{{ item.moviedetails.imdbnumber }}" data-loading-text="Loading...">TMDB lookup</button>
      <button class="btn btn-danger pull-right remove_item">Remove movie</button>
    </div>

    <div class="span4">
      <form class="form-horizontal">
        <div id="media_id" media-type="movie" data-id="{{ movie.movieid }}"></div>
        <fieldset>

          {% macro control_group(name, title, tooltip=None) %}
            <div class="control-group">
              <label class="control-label" for="id_{{ name }}">{{ title }}</label>
              <div class="controls">
                {% if name == 'plot' %}
                  <textarea type="text" id="id_{{ name }}" name="{{ name }}">{{ movie[name] }}</textarea>
                {% elif name == 'set' %}
                  <select id="id_set" name="set">
                    <option value="">Choose set</option>
                    {% if item.sets %}
                      {% for set in item.sets %}
                        <option  value="{{set.label}}" {{ 'selected' if movie.set == set.label }}>
                          {{ set.label }}
                        </option>
                      {% endfor %}
                    {% endif %}
                  </select>
                {% elif name == 'playcount' %}
                  <input id="id_{{ name }}" name="{{ name }}" type="checkbox" {{ 'checked' if movie.playcount }}>
                {% else %}
                  <input {% if tooltip %}rel="tooltip" title="{{ tooltip }}"{% endif %} id="id_{{ name }}" name="{{ name }}" type="text" value="{{ movie[name]|float|round(1, 'common') if name == 'rating' else movie[name] }}">
                {% endif %}
                {% if name == 'genre' %}
                  <button class="btn add_genre_btn" data-file_type="video" data-media_type="movie" type="button">+</button>
                {% elif name == 'tag' %}
                  <button class="btn add_tag_btn" data-media_type="movie" type="button">+</button>
                {% endif %}
              </div>
            </div>
          {% endmacro %}

          {{ control_group('title', 'Title') }}
          {{ control_group('originaltitle', 'Original Title') }}
          {{ control_group('sorttitle', 'Sort Title') }}
          {{ control_group('plot', 'Plot') }}
          {{ control_group('genre', 'Genres', 'Separate with " / "') }}
          {{ control_group('runtime', 'Runtime') }}
          {{ control_group('director', 'Director', 'Separate with " / "') }}
          {{ control_group('writer', 'Writer', 'Separate with " / "') }}
          {{ control_group('year', 'Year') }}
          {{ control_group('rating', 'Rating') }}
          {{ control_group('votes', 'Votes') }}
          {{ control_group('mpaa', 'Certification') }}
          {{ control_group('studio', 'Studio', 'Separate with " / "') }}
          {{ control_group('tagline', 'Tagline') }}
          {{ control_group('set', 'Set') }}
          {{ control_group('tag', 'Tags', 'Separate with " / "') }}
          {{ control_group('trailer', 'Trailer') }}
          {{ control_group('playcount', 'Mark as Watched') }}

          {% macro hidden_input(name, art=True) %}
            <input id="id_{{ name }}" name="{{ name }}" type="hidden" value="{{ movie['art'][name] if art else movie[name] }}">
          {% endmacro %}

          {{ hidden_input('imdbnumber', False) }}
          {{ hidden_input('fanart') }}
          {{ hidden_input('banner') }}
          {{ hidden_input('discart') }}
          {{ hidden_input('poster') }}
          {{ hidden_input('clearart') }}
          {{ hidden_input('clearlogo') }}
          <button type="button" class="btn btn-success xbmc_save">Apply Changes</button>
        </fieldset>
      </form>
    </div>

    {% macro thumb(type, fanarttv=False, tmdb=False) %}
      <div class="thumbnail thumb_main {{ type }}_thumb">
        {% if type in movie.art %}
          <img src="{{ webroot_url('/static/images/xhrloading2.gif') }}" />
          <script>
            var curImg = new Image();
            curImg.src = "{{ movie['art'][type]|xbmc_image }}";
            curImg.id = "{{ type }}_img";
            curImg.onload = function(){
              $('.{{ type }}_thumb img').replaceWith(this);
            }
          </script>
        {% else %}
          <div align="center">Artwork not available.</div>
        {% endif %}
        <br>
        <b>{{ type|title }}</b>

        <div class="pull-right">
          <button class="btn file_btn" data-type="{{ type }}">File</button>
          <button class="btn url_btn" data-type="{{ type }}">URL</button>

          {% if fanarttv %}
            <button class="btn fanarttv_btn" data-type="{{ type }}" data-media="movie" data-id="{{ movie.imdbnumber }}">fanart.tv</button>
          {% endif %}

          {% if tmdb %}
           <button class="btn tmdb_img_btn" data-type="{{ type }}" data-id="{{ movie.imdbnumber }}">TMDB</button>
          {% endif %}
        </div>

      </div>
      <br>
    {% endmacro %}

    <div class="span4">
      {{ thumb('fanart', fanarttv=True, tmdb=True) }}
      {{ thumb('banner', fanarttv=True) }}
      {{ thumb('discart', fanarttv=True) }}
    </div>

    <div class="span3">
      {{ thumb('poster', tmdb=True) }}
      {{ thumb('clearart', fanarttv=True) }}
      {{ thumb('clearlogo', fanarttv=True) }}
    </div>

  {% endif %}
</div>
<script>$('input[title]').tooltip({'placement': 'right'})</script>
