{% if item.artistdetails %}
  {% set artist = item.artistdetails %}
  <div class="row-fluid top_buttons">
    <button class="btn tadb_info_btn" data-loading-text="Loading...">
      TheAudioDB lookup
    </button>
  </div>

  <div class="span4">
    <form class="form-horizontal">
      <div id="media_id" media-type="artist" data-id="{{ artist.artistid }}" data-mbid="{{ artist.musicbrainzartistid }}"></div>
      <fieldset>

        {% macro control_group(name, title) %}
          <div class="control-group">
            <label class="control-label" for="id_{{ name }}">{{ title }}</label>
            <div class="controls">
              {% if name == 'description' %}
                <textarea type="text" id="id_{{ name }}" name="{{ name }}">{{ artist[name] }}</textarea>
              {% else %}
                <input id="id_{{ name }}" name="{{ name }}" type="text" value="{{ artist.label if name == 'artist' else artist[name] }}">
              {% endif %}
              {% if name == 'genre' %}
                <button class="btn add_genre_btn" data-file_type="audio" data-media_type="artist" type="button">+</button>
              {% endif %}
            </div>
          </div>
        {% endmacro %}

        {{ control_group('artist', 'Artist') }}
        {{ control_group('description', 'Description') }}
        {{ control_group('genre', 'Genres') }}
        {{ control_group('style', 'Style') }}
        {{ control_group('mood', 'Mood') }}
        {{ control_group('born', 'Born') }}
        {{ control_group('formed', 'Formed') }}
        {{ control_group('died', 'Died') }}
        {{ control_group('disbanded', 'Disbanded') }}
        {{ control_group('yearsactive', 'Years Active') }}

        <input id="id_thumbnail" name="thumbnail" type="hidden" value="{{ artist.thumbnail }}">
        <input id="id_fanart" name="fanart" type="hidden" value="{{ artist.fanart }}">
        <button type="button" class="btn btn-success xbmc_save">Apply Changes</button>
      </fieldset>
    </form>
  </div>

  <div class="span4 thumbnail">
    <img id="fanart_img" src="{{ item.artistdetails.fanart|xbmc_image }}">
  </div>

  <div class="span3 thumbnail">
    <img id="thumbnail_img" src="{{ item.artistdetails.thumbnail|xbmc_image }}">
  </div>

{% endif %}